/* ここからローディング画面 */
#loadingWrap {
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
        
#loading {
    width: 5em;
    height: 5em;
    border-top: 1em solid rgba(255, 255, 255, 0.2);
    border-right: 1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1em solid rgba(255, 255, 255, 0.2);
    border-left: 1em solid rgba(255, 255, 255, 1);
    animation: loaderAnime 0.7s infinite linear;
    border-radius: 50%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 100;
} 
        
@keyframes loaderAnime {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
        
.loadingNone {
    animation: loadingAnime 1s forwards;
}
        
@keyframes loadingAnime {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
} 

/* ここまでローディング画面 */


.page-box {
    width: 100%;
    height: a;
}


/* ここからヘッダーナビ */
.nav-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: yellow;

    /* トップ以降に固定表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: yellow;
    z-index: 1;
    
}
/* ナビ：左側 */
.nav-left-box {
    display: flex;
    align-items: center;
    margin: 1% 0% 1% 3%;
}

.nav-logo-box {
    width: 48px;
    height: auto;
}

.nav-logo {
    width: 100%;
    height: auto;
}

.nav-logoName-box {
    height: auto;
    margin-left: 3%;
}

.nav-logoName1 {
    margin: 1%;
    padding: 0;
    font-weight: bolder;
    
}

.nav-logoName2 {
    margin: 1%;
    padding: 0;
    font-weight: bold;
    
}

/* ナビ：右側 */
.nav-right-box {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
}

.nav-container-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-items {
    margin: 0;
    padding: 0;
    border: none; 
    outline: none; 
    background: transparent; 
    text-align: center;
    font-weight: bold;
    font-size: calc(65% + 0.25vw);
    margin: 0% 3% 0% 3%;
}

/* ここまでヘッダーナビ */


/*  ここから見出し画面  */
.top-box {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 2;
}

.top {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-logo-box {
    position: relative;
    top: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-logo {
    width: 80px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}

.top-logo-img {
    width: 100%;
    height: auto;
}

.title-box {
    width: 100%;
    position: relative;
    top: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    position: relative;
    margin: 0%;
    padding: 8px;
    font-size: 80px;
    font-size: calc(240% + 0.25vw);
    border: solid;
    border-radius: 16px;
}

.top-nav-box {
    width: 100%;
    position: relative;
    top: 25vh;
}

.top-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.top-nav-items {
    margin: 3%;
    font-size: calc(130% + 0.25vw);
    background-color: white;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.top-nav-items:hover {
    background-color: black;
    color: white;
}
  
.top-nav-items::before {
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

.arrowWrap {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 50vh;
    z-index: 2;
}


.arrow1 {
    width: 15px;
    margin: 0 auto;
    -webkit-animation: arrow1 2s linear 0s infinite normal;
    animation: arrow1 2s linear 0s infinite normal;
}

.arrow2 {
    width: 15px;
    margin: 0 auto;
    -webkit-animation: arrow2 2s linear 0s infinite;
    animation: arrow2 2s linear 0s infinite;
}

.arrow1 span,
.arrow2 span {
    position: relative;
    display: block;
    left: 50%;
}

.arrow1 span {
    margin-top: -10px;
}

.arrow1 span:before,
.arrow2 span:before {
    content: '';
    width: 15px;
    height: 15px;
    border: 0;
    border-top: solid 2px #333;
    border-right: solid 2px #333;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;
}

@keyframes arrow1 {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    20% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    40% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    60% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    80% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes arrow2 {
    0% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    20% {
        -webkit-transform: translate3d(-50%, 20px, 0);
        transform: translate3d(-50%, 20px, 0);
    }

    40% {
        -webkit-transform: translate3d(-50%, 20px, 0);
        transform: translate3d(-50%, 20px, 0);
    }

    60% {
        -webkit-transform: translate3d(-50%, 20px, 0);
        transform: translate3d(-50%, 20px, 0);
    }

    80% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }
}

.scroll-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5vh;
    z-index: 2;
}
/*  ここまで見出し画面  */


/* ここからサービス画面  */
.service-box {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: relative;
    top: 20vh;
}

.service {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service-title-box {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.service-title {
    text-align: center;
    position: relative;
    margin: 0%;
    padding: 0;
    font-size: calc(240% + 0.25vw);
}

.service-kind-box {
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 10% 3% 10%;
}

.service-kind {
    width: 30%;
    margin: 1%;
    padding: 5%;
}

.kind-logo-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 3%;
}

.kind-logo {
    width: 80px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}

.kind-img {
    width: 100%;
    height: auto;
}

.kind-name-box {
    width: 100%;
    height: auto;
    margin: 3%;
}

.kind-name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kind-detile-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3%;
}

.kind-detile {
    font-size: calc(65% + 0.25vw);
}
/* ここまでサービス画面  */


/* ここからワーク画面  */
.works-box {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.works {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.works-title-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
}

.works-title {
    text-align: center;
    position: relative;
    margin: 0%;
    padding: 0;
    font-size: calc(240% + 0.25vw);
}

.works-kind-box {
    width: 80%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 3% 10% 3% 10%;
}

.works-kind {
    width: 30%;
    margin: 1%;
    padding: 5%;
}

.works-kind-name-box {
    width: 100%;
    height: auto;
    margin: 3%;
}

.works-kind-name {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(65% + 0.25vw);
    font-weight: bold;
}

.works-kind-detile-box {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: black;
}

.works-kind-detile {
    width: 100%;
    height: auto;

}

.works-kind-detile-img {
    width: 100%;
    height: auto;
}

.works-more-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10% 0 10%;
    
}

.works-more {
    width: 30%;
    text-align: center;
    border: solid;
    padding: 0 10% 0 10%;
    font-size: calc(65% + 0.25vw);
}

/* ここまでワーク画面  */


/* ここからアバウト画面  */
.about-box {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.about {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about-title-box {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-title {
    text-align: center;
    margin: 0%;
    padding: 0;
    font-size: calc(240% + 0.25vw);
}

.about-sub-title {
    text-align: center;
    margin: 0%;
    padding: 0;
    font-size: calc(80% + 0.25vw);

}

.about-kind-box {
    width: 100%;
    height: auto;
}

.about-kind {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 5vh;
}

.about-kind-logo-box {
    width: 40%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
}

.about-kind-logo {
    width: 160px;
    height: auto;

}

.about-kind-img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.about-kind-detile-box {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.about-kind-name-box {
    width: 100%;
    height: auto;
}

.about-kind-name {
    font-size: calc(100% + 0.25vw);
    font-weight: normal;
}

.about-kind-detile-name {
    font-size: calc(100% + 0.25vw);
    font-weight: normal;
}

.about-kind-skill-box {
    width: 100%;
    height: auto;
}

.about-kind-skill {
    font-size: calc(100% + 0.25vw);
    font-weight: normal;
}

.about-kind-detile-slill {
    font-size: calc(100% + 0.25vw);
    font-weight: normal;
}

.about-kind-mail-box {
    width: 100%;
    height: auto;
}

.about-kind-mail {
    font-size: calc(100% + 0.25vw);
    font-weight: normal;
}

.about-kind-detile-maile {
    font-size: calc(100% + 0.25vw);
    font-weight: normal;
}
/* ここまでアバウト画面  */

/* ここからコンタクト画面 */
.contact-box {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: white;
}

.contact {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-title-box{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-title {
    text-align: center;
    margin: 0%;
    padding: 0;
    font-size: calc(240% + 0.25vw);
}

.contact-title-info {
    text-align: center;
    margin: 0%;
    padding: 0;
    font-size: calc(80% + 0.25vw);
}

.contact-ditaile-box {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 3vh;
}

.contact-detaile {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-detaile-kind {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 3vh;
}

.contact-ditaile-left {
    width: 50%;
    height: auto;
    display: flex;
    
}

.contact-ditaile-left-box {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.contact-ditaile-left-item {
    width: 50%;
    font-size: calc(80% + 0.25vw);
}

.contact-ditaile-right {
    width: 50%;
    height: auto;
}

.contact-ditaile-right-box {
    width: 100%;
    height: auto;
}

.inputs{
    width: 70%;
}

input[type="text"],input[type="email"]{
    border: solid 1px #aaa;
    border-radius:5px;
    padding:10px;
    font-size: 15px;
}

textarea{
    border: solid 1px #aaa;
    border-radius:5px;
    padding: 10px;
    height: 160px;
    font-size: 15px;
}

.btn-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}

input[type="submit"]{
    background: #e0505c;
    border: none;
    color: white;
    font-size:17px;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 5px;
}

input[type="reset"]{
    background: #aaa;
    border: none;
    color: white;
    font-size:17px;
    font-weight:bold;
    padding: 10px 20px;
    margin: 0 5px;
}

/* ここまでコンタクト画面 */

/* ここからフッター画面 */

.foote {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    background-color: white;
    font-size: 18px;
}

.footter-text {
    width: auto;
    height: auto;
    color: black;
    font-size: calc(45% + 0.25vw);
    margin: none;
    padding: none;
}

/* ここまでフッター画面 */