/* ここからローディング画面 */
#loadingWrap {
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
        
#loading {
    width: 5em;
    height: 5em;
    border-top: 1em solid rgba(255, 255, 255, 0.2);
    border-right: 1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1em solid rgba(255, 255, 255, 0.2);
    border-left: 1em solid rgba(255, 255, 255, 1);
    animation: loaderAnime 0.7s infinite linear;
    border-radius: 50%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 100;
} 
        
@keyframes loaderAnime {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
        
.loadingNone {
    animation: loadingAnime 1s forwards;
}
        
@keyframes loadingAnime {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
} 

/* ここまでローディング画面 */


.page-box {
    width: 100%;
}


/* ここからヘッダーナビ */
.nav-box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: yellow;

    /* トップ以降に固定表示 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: yellow;
    z-index: 1;
    
}
/* ナビ：左側 */
.nav-left-box {
    display: flex;
    align-items: center;
    margin: 1% 0% 1% 3%;
}

.nav-logo-box {
    width: 48px;
    height: auto;
}

.nav-logo {
    width: 100%;
    height: auto;
}

.nav-logoName-box {
    height: auto;
    margin-left: 3%;
}

.nav-logoName1 {
    margin: 1%;
    padding: 0;
    font-weight: bolder;
    
}

.nav-logoName2 {
    margin: 1%;
    padding: 0;
    font-weight: bold;
    
}

/* ナビ：右側 */
.nav-right-box {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
}

.nav-container-box {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.nav-items {
    margin: 0;
    padding: 0;
    border: none; 
    outline: none; 
    background: transparent; 
    text-align: center;
    font-weight: bold;
    font-size: calc(65% + 0.25vw);
    margin: 0% 3% 0% 3%;
}

/* ここまでヘッダーナビ */


/*  ここから見出し画面  */
.top-box {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: white;
    z-index: 2;
}

.top {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.top-logo-box {
    position: relative;
    top: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-logo {
    width: 80px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-end;
}

.top-logo-img {
    width: 100%;
    height: auto;

}

.title-box {
    width: 100%;
    position: relative;
    top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    text-align: center;
    position: relative;
    margin: 0%;
    padding: 8px;
    font-size: 80px;
    font-size: calc(240% + 0.25vw);
    border: solid;
    border-radius: 16px;
}

.top-nav-box {
    width: 100%;
    position: relative;
    top: 20vh;
}

.top-nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.top-nav-items {
    margin: 3%;
    font-size: calc(130% + 0.25vw);
    background-color: white;
    border: none;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.top-nav-items:hover {
    background-color: black;
    color: white;
}
  
.top-nav-items::before {
    -webkit-box-shadow: 0 0 10px black;
    box-shadow: 0 0 10px black;
}

.arrowWrap {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 50vh;
    z-index: 2;
}


.arrow1 {
    width: 15px;
    margin: 0 auto;
    -webkit-animation: arrow1 2s linear 0s infinite normal;
    animation: arrow1 2s linear 0s infinite normal;
}

.arrow2 {
    width: 15px;
    margin: 0 auto;
    -webkit-animation: arrow2 2s linear 0s infinite;
    animation: arrow2 2s linear 0s infinite;
}

.arrow1 span,
.arrow2 span {
    position: relative;
    display: block;
    left: 50%;
}

.arrow1 span {
    margin-top: -10px;
}

.arrow1 span:before,
.arrow2 span:before {
    content: '';
    width: 15px;
    height: 15px;
    border: 0;
    border-top: solid 2px #333;
    border-right: solid 2px #333;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    box-sizing: border-box;
}

@keyframes arrow1 {
    0% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    20% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    40% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    60% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    80% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 0, 0);
        transform: translate3d(-50%, 0, 0);
    }
}

@keyframes arrow2 {
    0% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    20% {
        -webkit-transform: translate3d(-50%, 20px, 0);
        transform: translate3d(-50%, 20px, 0);
    }

    40% {
        -webkit-transform: translate3d(-50%, 20px, 0);
        transform: translate3d(-50%, 20px, 0);
    }

    60% {
        -webkit-transform: translate3d(-50%, 20px, 0);
        transform: translate3d(-50%, 20px, 0);
    }

    80% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }

    100% {
        -webkit-transform: translate3d(-50%, 10px, 0);
        transform: translate3d(-50%, 10px, 0);
    }
}

.scroll-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 5vh;
    z-index: 2;
}
/*  ここまで見出し画面  */